name: push-events
on: push
jobs:
  show-info:
    runs-on: ubuntu-latest
    steps: 
      - name: info
        run: |
          echo "This is a test run"
  build-info:
    runs-on: ubuntu-latest
    steps:
      - name: build
        run: |
          echo "Building the project..."